*{
    padding: 0;
    margin: 0;
}
.nav-link{
    color: white;
    font-size: 1rem;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;

}
.nav-link:hover{
    color: red;
    background-color: white;
    
}
.main{
    display: flex;
    
}
.container{
    background-size:cover ;
    background: url(./a.png)no-repeat;
    width: 100%;
    height: 90vh;
    text-align:right;
}
.col-lg-6{
   margin-top: 20%;
   margin-left: 50%;
   margin-right: 20%;
   text-align: justify;
    
}
.main h3{
    font-size: 4.2rem;
    font-weight: 700;
}
.main h5{
    font-size: 2.4rem;;
    border-bottom: 3px solid red; 
    width: 98%;
}
#element{
    color: rgb(89, 19, 155);
}
.bt1-mt-5{
    height: 55px;
    width: 130px;
    font-weight: bold;
    background-color: blue;
    border-radius: 25px;
}
.text-center h3{
    font-size: 50px;

}
.text-center.row.col-lg-6{
    text-align: center;
}
/** media -queries ------**/

@media only screen and (max-width: 600px) {
    .container{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        padding: 0;   
    }
    .row{
       margin-bottom: 0%;
       margin-top: 100%;
    }
    .col-lg-6{
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .text-center.row{
        text-align: center;
    }
    .main h3{
        font-size: 30px;
    }
    .main h5{
        font-size: 20px;
    }
    .bt1-mt-5{
        height: 55px;
    }
    .text-center h3{
        font-size: 30px;
    } 
    .nav-link:hover{
        color: red;
        background-color: white;
        
    }
    .img-p{
        width: 100%;
    }
}
